@import url(https://fonts.googleapis.com/css?family=Inconsolata:400,700);
html {
  background: #000;
  overflow-y: scroll; 
}

body {  
  font: 1.25em/1.6 'Inconsolata', monospace;
  color: green; 
  font-weight: 400;
  max-width: 110em;
  padding: 1em;
  margin: 0; 
}
pre:first-of-type{
  max-width:100%;  
  color: green; 
}
pre{
  display: inline-block;
  vertical-align: middle;
  color: #00ab00;
  max-width: 435px;
}
pre:last-of-type{
  margin-left: -155px
}
.video{
  position: relative;
  display:inline-block;
  margin-right:29px;
  width: 730px; 
  height:410px;
  z-index: 1;
  background:url('https://i.stack.imgur.com/t7gba.gif') no-repeat;
  background-position:center;
}
.red{
  color: green;
}
iframe{
  background:transparent;
  border:0
}
::selection{
  background: #000
}
::-webkit-selection{
  background: black
}
::-moz-selection{
  background: black
}
a{
  color: #181818;
}
a:hover,a:focus{
  background: #000;
  color:#fff;
}
h2{
  font-size: 1em;
  font-weight: 400;
}
p{
  margin-bottom:2em;
  line-height: 20px
}
abbr{
  cursor: help;
}
ul{
  list-style: none;
  padding: 0;
}
li{
  margin:0.5em 0 0;
}
span{
  display: block;
  color:#efefef;
  line-height:1;
}

kbd{
  font-family: 'Inconsolata', monospace;
  border:1px solid #999;
  text-transform: uppercase;
  padding:0 .2em;
}
input[type="text"]{
  max-width: 10em;
  border: none;
  font-family: inherit;
  background: #000;
  font: 1em 'Inconsolata', monospace;
  padding:0 .5em;
}
input[type="text"]:focus{
  background: transparent;
  color: #efefef;
  outline:none;
}
.command{
  display: block;
  max-width: 20em;
  color: #efefef;
  font-weight: 700;
  margin: 2em 0;
}


section{
  display: none;
}
.open{
  display: block;
} 


blocker {
  height: 525px;
  animation-name: example;
  background: black;
  animation-duration: 2.14s;
  overflow: hidden;
  animation-fill-mode: forwards;
  position: absolute; 
  top: 0; 
  z-index: 1;
  width: 100%;
  left: 0;
}
 
@keyframes example {
	0% {  top: 0 }
    100% {  top: 520px}
}
